@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Libre Farnklin";
  src: url("/fonts/LibreFranklin-Bold.tff") format("tff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Libre Farnklin";
  src: url("/fonts/LibreFranklin-SemiBold.tff") format("tff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Libre Farnklin";
  src: url("/fonts/LibreFranklin-Medium.tff") format("tff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Libre Farnklin";
  src: url("/fonts/LibreFranklin-Regular.tff") format("tff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 1440px;
  margin: 0 auto;
}
